/* cart.component.css */
.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
}

.cart-item img {
    max-width: 100%;
}

.cart-item .quantity-control {
    display: flex;
    align-items: center;
}

.cart-item button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.cart-item button:hover {
    background-color: #cc0000;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.total-cart-value {
    margin-top: 20px;
    font-weight: bold;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.empty-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}