.container-fluid {
    padding-top: var(--bs-gutter-x, .75rem);
    background-image: linear-gradient(to top, rgb(221 74 28 / 77%), rgb(186 0 0 / 72%));
}

.img-fluid {
    width: 73%;
    padding-left: 10px;
    padding-top: 5px;
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 1000px;
    }

    .card-body {
        padding-left: 0px;
    }
}